.nav {
    /* position: absolute;
    bottom: 0;
    right: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    height: 90px;
    width: 414px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.09);
    padding: 20px 27px;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
